<ng-container *ngIf="value">
    <div class="course-card" [ngClass]="cardClasses()">
            <div class="course-title" [ngStyle]="cardStyles()">
                {{cardIndex + ' ' + value.description}}
            </div>
            <img width="300" alt="Angular Logo" *ngIf="value.iconUrl; else noImage"
                 [src]="value.iconUrl">
    
            <ng-template #noImage>
                <p>No image is available</p>
            </ng-template>
    
            <div class="course-description">
                {{value.longDescription}}
            </div>

            <ng-container [ngSwitch]="value.category">
                <div class="course-category" >

                    <ng-container *ngSwitchCase="'BEGINNER'">
                        <div class="category" >Beginner</div>
                    </ng-container>
                    
                    <div class="category" *ngSwitchCase="'INTERMEDIATE'">Intermediate</div>
                    <div class="category" *ngSwitchCase="'ADVANCED'">Advanced</div>
                    <div class="category" *ngSwitchDefault="'ADVANCED'">All levels</div>
                </div> 
            </ng-container>
    
          
        <button (click)="onCourseViewed()">View Course</button>
    </div>
</ng-container>



