<div class="courses" *ngIf="value">

    <div class="course-card" [ngClass]="cardClasses()">

        <div class="course-title" [ngStyle]="cardStyles()">
            {{cardIndex + ' ' + value.description}}
        </div>
        <img width="300" alt="Angular Logo" *ngIf="value.iconUrl; else noImage"
             [src]="value.iconUrl">

        <ng-template #noImage>
            <p>No image is available</p>
        </ng-template>

        <div class="course-description">
            {{value.longDescription}}
        </div>

        <div class="course-category" [ngSwitch]="value.category">
            <div class="category" *ngSwitchCase="'BEGINNER'">Beginner</div>
            <div class="category" *ngSwitchCase="'INTERMEDIATE'">Intermediate</div>
            <div class="category" *ngSwitchCase="'ADVANCED'">Advanced</div>
            <div class="category" *ngSwitchDefault="'ADVANCED'">All levels</div>
        </div>

    </div>

    <button (click)="onCourseViewed()">View Course</button>


</div>

