<div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
</div>

<div class="demo">
  <div>Start Date : {{ startDate | date : "MM/dd/yyyy" }}</div>
</div>

<!-- <course-card (click)="onCourseCardClicked()" [value]="coreCourse"></course-card>
<course-card (click)="onCourseCardClicked()" [value]="rxjsCourse"></course-card>
<course-card (click)="onCourseCardClicked()" [value]="ngrxCourse"></course-card> -->

<!-- courseSelected is a custom browser event emitted from Child component-->
<!-- <course-card (courseSelected)="onCourseSelected($event)" [value]="coreCourse"></course-card>
<course-card (courseSelected)="onCourseSelected($event)" [value]="rxjsCourse"></course-card>
<course-card (courseSelected)="onCourseSelected($event)" [value]="ngrxCourse"></course-card> -->

<!-- ngFor directive -->
<!-- <course-card
  *ngFor="
    let course of courses;
    index as i;
    first as isFirst;
    last as isLast;
    even as isEven;
    odd as isOdd
  "
  (courseSelected)="onCourseSelected($event)"
  [class.is-first]="isFirst"
  [class.is-last]="isLast"
  [class.is-even]="isEven"
  [class.is-odd]="isOdd"
  [value]="course"
  [cardIndex]="i + 1"
></course-card> -->

<!-- content projection -->
<div class="courses" *ngIf="courses[1] as course">
  <course-card [value]="course" (courseSelected)="onCourseSelected($event)">
    <h5>5 Lessons</h5>
    <course-image [imageUrl]="course.iconUrl"></course-image>
    <div class="course-description">
      {{ course.longDescription }}
    </div>
  </course-card>
</div>

<!-- View child decorator -->
<!-- <div class="courses" #containerRef>
  <course-card
    #cardRef1
    (courseSelected)="onCourseSelected($event)"
    [value]="courses[1]"
  >
  </course-card>

  <course-card
    #cardRef2
    (courseSelected)="onCourseSelected($event)"
    [value]="courses[2]"
  >
  </course-card>
</div> -->
